.root {
    color: #F08080;
    background-color: #b0c4de	;
    min-height: 100vh;
    text-align: center;
    font-family: monospace;
    position: absolute;
    width: 100vw;
    padding-top: 1vh;
}

.outputs {
    font-size: xx-large;
    margin-left: 25vw;
    margin-right: 25vw;
}

.inputs {
    height: 4vh;
    width: 80vw;
    text-align: center;
    font-size: xx-large;
    border-radius: 1vh;
    background-color: floralwhite;
}

.buttons {
    color: whitesmoke;
    background-color: #F08080;
    height: 4vh;
    width: 40vw;
    text-align: center;
    border-radius: 1vh;
}

.forms {
    margin: 1vw;
}

body {
    margin: 0px;
    overflow-y: hidden;
}